<a href="https://colab.research.google.com/github/barakaVictor/UAP-Challenge/blob/main/UAP.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
!pip install pyreadr

Collecting pyreadr
  Downloading https://files.pythonhosted.org/packages/f1/90/64545feb97a442f67d1f2d582518044024fa9355df924cdad1ff2374fc54/pyreadr-0.4.2-cp37-cp37m-manylinux_2_17_x86_64.manylinux2014_x86_64.whl (409kB)
     |████████████████████████████████| 419kB 5.9MB/s
Requirement already satisfied: pandas>0.24.0 in /usr/local/lib/python3.7/dist-packages (from pyreadr) (1.1.5)
Requirement already satisfied: numpy>=1.15.4 in /usr/local/lib/python3.7/dist-packages (from pandas>0.24.0->pyreadr) (1.19.5)
Requirement already satisfied: pytz>=2017.2 in /usr/local/lib/python3.7/dist-packages (from pandas>0.24.0->pyreadr) (2018.9)
Requirement already satisfied: python-dateutil>=2.7.3 in /usr/local/lib/python3.7/dist-packages (from pandas>0.24.0->pyreadr) (2.8.1)
Requirement already satisfied: six>=1.5 in /usr/local/lib/python3.7/dist-packages (from python-dateutil>=2.7.3->pandas>0.24.0->pyreadr) (1.15.0)
Installing collected packages: pyreadr
Successfully installed pyreadr-0.4.2
Collecting apyori
  Downloading https://files.pythonhosted.org/packages/5e/62/5ffde5c473ea4b033490617ec5caa80d59804875ad3c3c57c0976533a21a/apyori-1.1.2.tar.gz
Building wheels for collected packages: apyori
  Building wheel for apyori (setup.py) ... done
  Created wheel for apyori: filename=apyori-1.1.2-cp37-none-any.whl size=5975 sha256=92fe7377026e4f7d4a31737db666415ff0e07051b60774517738416ea71c8623
  Stored in directory: /root/.cache/pip/wheels/5d/92/bb/474bbadbc8c0062b9eb168f69982a0443263f8ab1711a8cad0
Successfully built apyori
Installing collected packages: apyori
Successfully installed apyori-1.1.2

In [ ]:
import pandas as pd
import pyreadr
from google.colab import drive

In [ ]:
pd.set_option("display.max_columns", None)
pd.set_option("display.max_rows", None)

In [ ]:
drive.mount("/content/drive")

Mounted at /content/drive

In [ ]:
task1_data = pyreadr.read_r('/content/drive/My Drive/Datascience/uap/Interview_tasks/Task1/task1.rds')

In [ ]:
task1_data.keys()

odict_keys([None])

In [ ]:
df1 = task1_data[None]

In [ ]:
df1.head()

,d_date_id,d_time_id,d_store_id,d_loyalty_instrument_id,d_item_id,d_global_item_id,d_person_id,d_promotion_id,d_currency_id,d_item_group_id,bon_id,bon_id_int,hascard,hasch,unit_price,quantity,sales_amount,sales_amount_before_discount,vat_amount,discount_amount,items_count,card_items_count,card_quantity,card_sales_amount,card_discount_amount,promotion_items_count,promotion_quantity,promotion_sales_amount,promotion_discount_amount,price_w
0,20140901,15,5,1,1,8320,1,1,3,0,M042014090101000002000088,456567,0,0,0.505051,1.0,0.505051,0.505051,0.083838,0.0,1,0,0.0,0.0,0.0,0,0,0.0,0.0,0.505051
1,20140901,15,9,1,1,1,1,1,3,0,M112014090101000008000109,774482,0,0,1.707071,1.0,1.707071,1.707071,0.284848,0.0,1,0,0.0,0.0,0.0,0,0,0.0,0.0,1.707071
2,20140901,15,9,1,1,1113,1,1,3,0,M112014090101000005000109,769791,0,0,0.454545,6.0,2.727273,2.727273,0.454545,0.0,1,0,0.0,0.0,0.0,0,0,0.0,0.0,2.727270
3,20140901,15,9,1,1,3336,1,1,3,0,M112014090101000008000109,774482,0,0,3.535354,1.0,3.535354,3.535354,0.588889,0.0,1,0,0.0,0.0,0.0,0,0,0.0,0.0,3.535354
4,20140901,15,9,1,1,11707,1,1,3,0,M112014090101000002000109,774481,0,0,0.959596,1.0,0.959596,0.959596,0.159596,0.0,1,0,0.0,0.0,0.0,0,0,0.0,0.0,0.959596

In [ ]:
df1.isnull()

**Task 1**

You are provided with a small subset of data (please refer to Task 1 folder) on in-store
purchases by a chain of supermarkets. You are required to provide your input on the following
questions: 

**Question 1:**

Identify and visualize which store has the
highest turnover within the available time.